dinosaur video
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "id": "b6e6844c-73ab-446c-92de-e36a7f9f1e56",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -2128,
        2208
      ]
    },
    {
      "parameters": {
        "jsCode": "const topics = [\n  '5 life hacks you wish you knew earlier',\n  'Mind-blowing AI facts in 60 seconds',\n  'History of the internet in 60 seconds',\n  '3 habits of millionaires',\n  'Space facts that will blow your mind',\n  'Python tips every beginner must know',\n  'Why 99% of people fail at their goals',\n  'The science of sleep in 60 seconds'\n];\n\nconst topic = topics[Math.floor(Math.random() * topics.length)];\nreturn [{ json: { topic } }];"
      },
      "id": "d98f274a-90c2-4f25-a5df-4d883d92f5cb",
      "name": "Pick Topic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1904,
        2208
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer your-api-key"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a viral YouTube Shorts scriptwriter. Always respond with a JSON object only. No markdown, no explanation, no code fences.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Write a 60-second YouTube Shorts script about: {{ $json.topic }}. Return ONLY a JSON object with these fields: title (catchy, under 60 chars, no hashtags), description (2-3 sentences for YouTube description), tags (array of 5 strings), scene1 (hook sentence, max 20 words), scene2 (point 1, max 20 words), scene3 (point 2, max 20 words), scene4 (point 3 + end with Follow for more!, max 25 words)\"\n    }\n  ],\n  \"temperature\": 0.8,\n  \"max_tokens\": 600\n}",
        "options": {}
      },
      "id": "554fa6c0-897d-45e6-ac5b-cca28ceb5c45",
      "name": "Generate Script",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1696,
        2208
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst content = raw.choices[0].message.content;\n\nlet parsed;\ntry {\n  const clean = content.replace(/```json|```/g, '').trim();\n  parsed = JSON.parse(clean);\n} catch (e) {\n  parsed = {\n    title: 'Amazing Facts You Never Knew',\n    description: 'Watch this to learn something new today.',\n    tags: ['shorts', 'facts', 'viral', 'trending', 'learn'],\n    scene1: 'Did you know these amazing facts?',\n    scene2: 'First incredible point you need to know.',\n    scene3: 'Second mind-blowing fact revealed.',\n    scene4: 'Third amazing truth. Follow for more!'\n  };\n}\n\nparsed.topic = $('Pick Topic').item.json.topic || '';\n\nreturn [{ json: parsed }];"
      },
      "id": "170d79c0-6b56-41d0-81d8-fc89da774f9b",
      "name": "Parse Script JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1488,
        2208
      ]
    },
    {
      "parameters": {
        "url": "https://api.pexels.com/videos/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $json.topic }}"
            },
            {
              "name": "orientation",
              "value": "portrait"
            },
            {
              "name": "size",
              "value": "large"
            },
            {
              "name": "per_page",
              "value": "4"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "xqian1dJYWJgDuCG8wTz06GNm7xwCbNXIaxaxejaS6IEz9PmS4sfldUr"
            }
          ]
        },
        "options": {}
      },
      "id": "972abb63-23a3-40ca-8256-49d28e3e3900",
      "name": "Fetch Pexels Video",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1248,
        2208
      ]
    },
    {
      "parameters": {
        "jsCode": "const pexelsData = $input.first().json;\nconst scriptData = $('Parse Script JSON').item.json;\n\nconst videos = pexelsData.videos;\nif (!videos || videos.length === 0) {\n  throw new Error('No videos found on Pexels for this topic: ' + scriptData.topic);\n}\n\nconst getUrl = (index) => {\n  const v = videos[index % videos.length];\n  const file = v.video_files.find(f => f.quality === 'hd') ||\n               v.video_files.find(f => f.quality === 'sd') ||\n               v.video_files[0];\n  return file.link;\n};\n\nreturn [{\n  json: {\n    videoUrl1: getUrl(0),\n    videoUrl2: getUrl(1),\n    videoUrl3: getUrl(2),\n    videoUrl4: getUrl(3),\n    title: scriptData.title,\n    description: scriptData.description,\n    tags: scriptData.tags,\n    topic: scriptData.topic,\n    scene1: scriptData.scene1,\n    scene2: scriptData.scene2,\n    scene3: scriptData.scene3,\n    scene4: scriptData.scene4\n  }\n}];"
      },
      "id": "4370da9e-374a-4279-b1e7-d465005135c3",
      "name": "Extract Video URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2128,
        2384
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nconst v1 = data.videoUrl1 || 'NO_VIDEO_URL';\nconst v2 = data.videoUrl2 || 'NO_VIDEO_URL';\nconst v3 = data.videoUrl3 || 'NO_VIDEO_URL';\nconst v4 = data.videoUrl4 || 'NO_VIDEO_URL';\n\nconst s1 = data.scene1 || 'Did you know this amazing fact?';\nconst s2 = data.scene2 || 'Here is the first point.';\nconst s3 = data.scene3 || 'Here is the second point.';\nconst s4 = data.scene4 || 'Follow for more!';\n\nconst body = JSON.stringify({\n  template_id: \"d35b1f00-91f3-46bb-9025-1dbeb1f6ff75\",\n  modifications: {\n    \"Image-1.source\": v1,\n    \"Voiceover-1.text\": s1,\n    \"Image-2.source\": v2,\n    \"Voiceover-2.text\": s2,\n    \"Image-3.source\": v3,\n    \"Voiceover-3.text\": s3,\n    \"Image-4.source\": v4,\n    \"Voiceover-4.text\": s4\n  }\n});\n\nreturn [{\n  json: {\n    title: data.title || 'Untitled',\n    description: data.description || '',\n    tags: data.tags || [],\n    topic: data.topic || '',\n    creatomateBody: body\n  }\n}];"
      },
      "id": "013b849e-5797-4671-b164-a70c7a01138c",
      "name": "Build TTS URLs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1888,
        2384
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.creatomate.com/v2/renders",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer your-api-key"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.creatomateBody }}",
        "options": {}
      },
      "id": "e2969288-e97d-4f10-8493-e47ce826cbb5",
      "name": "Render Video",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1680,
        2384
      ]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst render = Array.isArray(response) ? response[0] : response;\nconst buildTTS = $('Build TTS URLs').item.json;\n\nif (!render.id) {\n  throw new Error('Creatomate did not return a render ID. Response: ' + JSON.stringify(render));\n}\n\nreturn [{\n  json: {\n    renderId: render.id,\n    renderStatus: render.status,\n    title: buildTTS.title,\n    description: buildTTS.description,\n    tags: buildTTS.tags,\n    topic: buildTTS.topic\n  }\n}];"
      },
      "id": "45484244-45b1-4eac-a5d8-594d8865c189",
      "name": "Get Render ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1456,
        2384
      ]
    },
    {
      "parameters": {
        "amount": 30,
        "unit": "seconds"
      },
      "id": "8827ad95-7565-4425-833f-ca80b73a31b3",
      "name": "Wait 30s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        -1232,
        2384
      ],
      "webhookId": "wait-webhook-1"
    },
    {
      "parameters": {
        "url": "=https://api.creatomate.com/v2/renders/{{ $('Get Render ID').item.json.renderId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer your-api-key"
            }
          ]
        },
        "options": {}
      },
      "id": "6ac60ac2-0852-4580-8ac1-36de60abb663",
      "name": "Check Render Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2128,
        2592
      ]
    },
    {
      "parameters": {
        "jsCode": "const status = $json.status;\n\nif (status === 'succeeded') {\n  return [{ json: { ...$json, proceed: true } }];\n} else if (status === 'failed') {\n  throw new Error('Creatomate render FAILED. Details: ' + JSON.stringify($json));\n} else {\n  return [{ json: { ...$json, proceed: false } }];\n}"
      },
      "id": "e97936e8-359b-4c30-b1cc-288cc7da3b60",
      "name": "Is Render Done?",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1904,
        2592
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.proceed }}",
              "value2": true
            }
          ]
        }
      },
      "id": "13610709-900c-4075-ab7b-3afc25054430",
      "name": "Check Proceed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1680,
        2592
      ]
    },
    {
      "parameters": {
        "jsCode": "const render = $input.first().json;\nconst renderMeta = $('Get Render ID').item.json;\n\nif (!render.url) {\n  throw new Error('No video URL in render response: ' + JSON.stringify(render));\n}\n\nreturn [{\n  json: {\n    finalVideoUrl: render.url,\n    title: renderMeta.title + ' #Shorts',\n    description: renderMeta.description + '\\n\\n#Shorts #' + renderMeta.topic.replace(/\\s+/g, '') + ' #viral',\n    tags: [...(renderMeta.tags || []), 'Shorts', 'viral', 'trending'],\n    topic: renderMeta.topic\n  }\n}];"
      },
      "id": "6c3a32a5-7748-4d42-9599-65cbd5b05495",
      "name": "Prepare Upload Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1456,
        2592
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.finalVideoUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "03329e3c-c9d9-4e63-8d96-58583f5c27a7",
      "name": "Download Rendered Video",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1232,
        2592
      ]
    },
    {
      "parameters": {
        "name": "={{ $('Prepare Upload Data').item.json.title }}.mp4",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "id": "ed53b3a1-aa8a-4aab-830e-5e19c2a75ed2",
      "name": "Upload to Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1008,
        2592
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "bn8XRO2wtWzsoqHZ",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Pick Topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pick Topic": {
      "main": [
        [
          {
            "node": "Generate Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Script": {
      "main": [
        [
          {
            "node": "Parse Script JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Script JSON": {
      "main": [
        [
          {
            "node": "Fetch Pexels Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Pexels Video": {
      "main": [
        [
          {
            "node": "Extract Video URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Video URL": {
      "main": [
        [
          {
            "node": "Build TTS URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build TTS URLs": {
      "main": [
        [
          {
            "node": "Render Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Render Video": {
      "main": [
        [
          {
            "node": "Get Render ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Render ID": {
      "main": [
        [
          {
            "node": "Wait 30s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 30s": {
      "main": [
        [
          {
            "node": "Check Render Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Render Status": {
      "main": [
        [
          {
            "node": "Is Render Done?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Render Done?": {
      "main": [
        [
          {
            "node": "Check Proceed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Proceed": {
      "main": [
        [
          {
            "node": "Prepare Upload Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 30s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Upload Data": {
      "main": [
        [
          {
            "node": "Download Rendered Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Rendered Video": {
      "main": [
        [
          {
            "node": "Upload to Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4f69f339f0b295889f186fde9d5f42ac9e9207208e100a42553812d7a2a73ea7"
  }
}
